<h2>Shortlist (@Items.Count)</h2>

@foreach (var item in Items)
{
    <ul class="list-group mb-4">
        @item.Content
    </ul>
}

@functions
{
    [Parameter] IReadOnlyList<Item> Items { get; set; }

    public class Item
    {
        public RenderFragment Content { get; set; }
    }
}
